/vendor
/node_modules
/public/storage
/storage/*.key
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
user.ini
/database/*.sqlite
/database/*.sqlite-journal